ExternalDataStoreServiceAccess/Service References/ServiceReference_DataStore/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.ServiceModel" />
  <xs:element name="RemoteFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="FileByteStream" type="q1:StreamBody" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BranchOfficeCode" nillable="true" type="xs:string" />
  <xs:element name="BranchOfficeName" nillable="true" type="xs:string" />
  <xs:element name="FileName" nillable="true" type="xs:string" />
  <xs:element name="IsTestUpload" type="xs:boolean" />
  <xs:element name="Length" type="xs:long" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="SimulatorDeviceIds" nillable="true" type="q2:ArrayOfstring" />
  <xs:element name="SimulatorSoftwareName" nillable="true" type="xs:string" />
  <xs:element name="SimulatorSoftwareVersion" nillable="true" type="xs:string" />
  <xs:element name="ReturnValue">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.ServiceModel" name="Exception" nillable="true" type="q3:FaultException" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>